/* Website Logo Header CSS */
body {
    background-image: url();
}
.headerborder {
    background-color: lightgray;
    background-image: url(Network\ Header\ Background.jpeg);
    height: fit-content; 
    padding: 1%; 
    width: 90%; 
    margin: auto; 
    text-align: center; 
    font-family: monospace;
}
    .logoheader {
        border-style: groove; 
        white-space: nowrap; 
        overflow-x: auto; 
        object-position: center; 
        text-align: center; 
        padding: 2%;
        vertical-align: middle;
    }
        
        #headerimg {
            height: 100px; 
            width: 100px; 
            display: inline-block; 
            vertical-align: middle;
        }
                
        #headertext {
            display: inline-block; 
            vertical-align: middle; 
            padding: 2px;
            color: white;
        }
            #footera {
            color: white;
            }

/* Navigation bar for Additional Articles */
.bodycontainer {
    background-color: lightgray;
    height: 540px; 
    padding: 1%; 
    width: 90%; 
    margin: auto; 
    text-align: center; 
    font-family: monospace;
}
    #sidearticles {
        float: left;
        width: 20%;
        padding: 1%;
        height: 500;
        color: black;
    }
/* different body types for the size of the pages*/
    #bodyarticles {
        width: 80%;
        height: 500px;
        color: black;
        margin: auto;
        float: right;
        text-align: left;
        padding: 2%;
        line-height: 1.4;
        background-color: white;
        display: block;
    }
    #bodyvideos1 {
        width: 35%;
        height: 400px;
        color: black;
        margin: auto;
        float: left;
        text-align: center;
        object-position: center;
        padding: 2%;
        line-height: 1.5;
        background-color: white;
    }
    #bodyvideos2 {
        width: 45%;
        height: 400px;
        color: black;
        margin: auto;
        float: right;
        text-align: center;
        object-position: center;
        padding: 2%;
        line-height: 1.5;
        background-color: white;
    }

    #bodypdfcontainer {
        background-color: lightgray;
        height: 2290px; 
        padding: 1%; 
        width: 90%; 
        margin: auto; 
        text-align: center; 
        font-family: monospace;
    }
    
    #bodypdf {
        width: 78%;
        height: 2250px;
        color: black;
        margin: auto;
        float: right;
        text-align: center;
        object-position: center;
        padding: 2%;
        line-height: 1.5;
        background-color: white;
    }
    #pdf {
        height: 1000px;
        width: 90%;
    }
    .hibpbodycontainer {
        background-color: lightgray;
        height: 740px; 
        padding: 1%; 
        width: 90%; 
        margin: auto; 
        text-align: center; 
        font-family: monospace;
    }
        #hibp {
            width: 80%;
            height: 700px;
            color: black;
            margin: auto;
            float: right;
            text-align: center;
            padding: 2%;
            line-height: 1.5;
            background-color: white;
        }
        #hibpsidearticles {
            float: left;
            width: 20%;
            padding: 1%;
            height: 700px;
            color: black;
        }
            th {border:2px solid rgb(177, 177, 177);text-align: center;padding: 1%;}
            td {font-size: 10px; border:2px solid rgb(177, 177, 177);text-align: center;padding: 2px;}
            tr:nth-child(odd)  {background-color: rgb(255, 255, 255);}
            tr:nth-child(even) {background-color: rgb(214, 213, 213);}
            table {width: 100%;}
        #disclaimer {
            font-size: xx-small;
        }